*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

/* The settings for the website's landing page */
#landingPage{

    background-color: #074f57;
    /*background-image: linear-gradient(rgba(0,0,0,0.99), rgba(0,0,0,0.1)),url("/static/images/landing_page_background.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;

    /* This will make sure that the options on the home page are centered. */
    padding-top: 0px;
    overflow: hidden;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;


}

.administratorMessage{
    text-transform: uppercase;
    color:red ;
    font-weight: bolder;
}

.landingPageLogoArea{
    position: absolute;
    display: flex;
    width: 100%;
    /* background-color: red !important; */
    align-items: center;
    justify-items: center;
    justify-content: center;
}
/*-----landing page media queries starts ----------*/

@media screen and (max-width: 853px){
    .landingPageContentArea h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 744px){
    .landingPageContentArea h1{
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 538px){
    .landingPageContentArea h1{
        -webkit-text-stroke: 2px black;
        font-size: 2rem;
    }

    .landingPageContentArea h2{
        -webkit-text-stroke: 1.5px black;
        font-size: 1em;
    }
}

@media screen and (max-width: 431px){
    .landingPageContentArea h1{
        font-size: 1.5rem;
    }
    .landingPageContentArea h2{
        -webkit-text-stroke: 1.5px black;
        font-size: 1em;
    }

}
/*------landing page media queries ends -----------*/
/*------------------------------------------------------ACCOUNT REGISTRATION BEGIN-----------------------------------------------------------*/

.accountRegistrationContentArea{
    position:absolute;
    top: 27vh;
    left:0px;
    width:100vw;
    bottom: 50px;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    /* background-color: green; */
    display:flex;
    flex-direction: column;
    align-items:center;

    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.accountRegistrationContentArea::-webkit-scrollbar {
    display: none;
}


/*------------------------------------------------------ACCOUNT REGISTRATION END-----------------------------------------------------------*/


.landingPageContentArea{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 200px;
    width: 100%;
    text-align: center;

}

.landingPageContentArea h1{

   color: white;
   -webkit-text-stroke: 2px orangered;
   font-size: 4.5em;
   font-style: italic;
   font-weight: bold;

}

.landingPageContentArea h2{

    color: white;
    -webkit-text-stroke: 2px orangered;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    padding: 20px;

 }

.landingPageContentArea a{
    padding: 50px;
}

.landingPageContentArea a:hover img{

	transition: 1s;
	transform: scale(1.2);
}

.landingPageContentArea a img{

	transition: 1s; /*Slowly goes back down to the original size when user takes cursor off*/
}



/*-----------------------------------------CSS for homepage-----------------------------------*/
.userHomepageNavBar{

    position: absolute; /*Navbar must always be at the top of the view*/
    top: 0;
    left: 0;
    background: red;
    width: 100%;
    height: 55px;
    /* z-index: 2;*/
    background-color: green;

    /*Inside the navbar, the display should be flex with equal amount of space between items */
    display: flex;
    /* justify-content: space-between; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.studentBaseNavBar div{
    background: red;  /*FOR DEBUGGING*/
    min-width: 100px;
    min-height: 25px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.userHomepageContainer{
    margin:0;
    padding:0;
    /* width:100%; */
    width: 1500px;
    position:absolute;
    top:55px;
    bottom:50px;

    color: black;
    font-size: 25;

    background: rgba(255,255,255,0.2);
    overflow-y: auto;
	  overflow-x: hidden;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    align-items: center; {% block customContainerClass%}{%endblock%}
}


.userHomepageTitle{

}



/*-----------------------------------------CSS for homepage ends------------------------------*/


/* settings for menu*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

#checkbox, .btn span { /* Hide the checkbox input & word "Menu" in the button */
    display: none;
}

/* Menu button - starts */
.btn {
    display: block;
    background-color: #247D9E;
    color: #fff;
    width: 55px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    transition: width .3s ease-in-out;
}
/* Menu button - ends */

/* Sidebar - starts */
.sidebar {
    background-color: #2B2E33;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1111;
    transition: transform .3s ease-in-out;
    transform: translateX(-250px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #BAB5BD;
    padding: 15px 20px;
    font-size: 16px;
}

.sidebar ul a li i {
    margin-right: 15px;
}

.sidebar ul a:hover, .sidebar ul a.active {
    background-color: #161920;
    color: #fff;
}

.sidebar ul a:hover::before, .sidebar ul a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #247D9E;
    width: 4px;
    height: 100%;
}
/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

#checkbox:checked + .btn {
    width: 250px;
    padding: 0 20px;
}

#checkbox:checked + .btn span { /* Show again the word "Menu" in the button */
    display: inline;
}
/* Effect of showing the sidebar - ends */





/*----------------------------------------------CSS--------------------------------------------*/




/*-------------------------------------------------------------------STUDENT PROFILE PAGE: BEGIN ----------------------------------------------------*/

.studentProfileHeaderArea{

    position:absolute;
    top:0;
    right:0;
    display:flex;
    z-index: 1!important;
    width: 80vw;
    height: 55px;
    /* background-color: red !important; */
    align-items: center;
    justify-content: right;
    padding-right: 15px;
    text-decoration: none;
}

.studentProfileHeaderArea h4{
    font: 100 30px/1.5 'Arizonia', Helvetica, sans-serif;
    margin-right: 50px;
    color: white;
    -webkit-text-stroke: 1px #cac7ff;;
    text-decoration: none;
    border-color: darkgray;
}





.studentProfileInformationSection{
    position: relative;
    width:100%;
    height: 30%;
    /* background-color: purple; */
    display: flex;
    justify-content: left;

}

.studentProfileProfileImageArea{
    margin-right: 15px;
    height: 100%;
    width: 275px;
    /* background-color: blue; */

}

.studentProfileProfileImageArea img{
    height: 100%;
    width: 100%;

}

.unchangeableInformation{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width: 30%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.unchangeableInformation h4{
    font-weight: bolder;
}


.unchangeableInformation h6{
    font-weight: bold;
}

.changeableInformationArea{
    position:absolute;
    width:50%;
    left: 30%;
    height: 100%;
    /* background-color: blue; */
    display:flex;


}

.changeableInformationButtonArea{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.changeableInformationButtonArea button{
    width:50%;
    height: 15%;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;

}

.changeableInformationInputArea{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.changeableInformationInputArea select{
    width:80%;
    height: 15%;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
.changeableInformationInputArea input{
    width:80%;
    height: 15%;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;

}

.radioButtonAreaForProfileEdit{
    width:80%;
    height: 15%;
    display:flex;
    justify-content: center;
    padding: 6px;
}

.radioButtonAreaForProfileEditInputSection{
    width:50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.radioButtonAreaForProfileEditInputSection label{
    width:100%;
    height: 50%;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    margin:0px;

}

.radioButtonAreaForProfileEditInputSection input{
    height: 35%;
}

.confirmChangeableInformationChanges{
    position: absolute;
    left: 80%;
    width:20%;
    height:100%;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.confirmChangeableInformationChanges input{
    width:80%;
    height: 17%;
    margin-bottom: 10px;
}
.confirmChangeableInformationChanges a{
    width:80%;
    height: 17%;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}





.studentProfileStudentInformationArea{
    margin-left: 15px;
    height: 100%;
    width: 350px;
    /* background-color: yellow; */
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#studentProfileStudentEditButtonArea{
    display:flex;
    justify-content: center;
    align-items: center;
}

.studentProfileStudentInformationEditProfileButtonArea{
    display:flex;
    justify-content: center;
    align-items: center;
}

.studentProfileStudentInformationArea form{
    width: 50% !important;
}

.studentProfileStudentInformationArea input{
     width: 80% !important;
}


.studentProfileStudentInformationArea h4{
    font-weight: bolder;
}

.studentProfileStudentInformationArea h6{
    font-weight: bolder;
}



/*---------------------------------------------------------STUDENT PROFILE MEDIA QUERIES:BEGIN ------------------------------------------------------*/
@media screen and (max-width: 1100px){
    .editListingBookInformationSection{
        height: 70px;

    }
}

@media screen and (max-width: 956px){
    .changeableInformationButtonArea button{
        width:70%;


    }
}

@media screen and (max-width: 945px){

    .editListingInformationSection h4{
        font-size: 20px;

    }

}


@media screen and (max-width: 809px){

    .editListingInformationSection h4{
        font-size: 15px;

    }
    .editListingInputSection select{
        width:150px;

    }

    .editListingInputSection input{
        width:150px;
    }


}


@media screen and (max-width: 785px){
    #editListingInputSectionPriceErrorMessage h7{
        font-size: 10px;
    }


    .studentProfileInformationSection.InformationSectionPositionModifier{
        position: static !important;
    }

    .editProfileInformationForm{
        background-color: black;
        position:absolute;
        left: 0;
        width:100%;
        z-index: 10;
        top: 30%;
        height: 70%;
    }



}



@media screen and (max-width: 525px){
    .unchangeableInformation h4{

        font-size: 14px;
    }


    .unchangeableInformation h6{
        font-size: 12px;
    }

    .changeableInformationButtonArea button{
        font-size: 12px;

    }


    .changeableInformationInputArea select{

        font-size: 12px;

    }
    .changeableInformationInputArea input{

        font-size: 12px;


    }

    .radioButtonAreaForProfileEditInputSection label{
        font-size: 8px;
    }


    .confirmChangeableInformationChanges input{
        font-size: 12px;
    }
    .confirmChangeableInformationChanges a{
        font-size: 12px;
    }
}


@media screen and (max-width: 410px){

    .studentProfileHeaderArea h4{
        font: 100 25px/1.5 'Arizonia', Helvetica, sans-serif;
        margin-right: 30px;
    }

    .radioButtonAreaForProfileEditInputSection label{
        font-size: 7px;
    }


}


/*---------------------------------------------------------STUDENT PROFILE MEDIA QUERIES:END ------------------------------------------------------*/




/*-------------------------------------------------------------------STUDENT PROFILE PAGE: END-------------------------------------------------------*/

