{% load static %}
{% load socialaccount %}

<head>
  <meta charset="UTF-8">
  <title> Hoos Study </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'studybuddy/vertification.css' %}">
  <link rel="icon" href="{% static 'studybuddy/images/UVAlogo.png' %}" type="image/icon type">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

 <div class="accountRegistrationBaseMessageToUser">
    <h1>Hoos Study</h1>
    <h2>Complete your account registration</h2>
 </div>

<body id="landingPage" style="background-image: url('{% static 'studybuddy/images/landing_page_background.jpg'%}');">

  <div class="accountRegistrationContentArea">
    <form action="#" name="ProfileCreationForm" method="POST">
      {% csrf_token %}

      <div class="form-group" style="display: flex !important; align-items: center; align-text:center; justify-content:space-around !important; margin-bottom: 10px;">
        <label for="profile_picture"><h4>Profile Picture:</h4> </label>
        <input type="file" id ="profile_picture"  style="width: 60%;" name="profile_picture" class="form-control" placeholder="Profile Picture" required />
      </div>

      <div class="form-group" style="display: flex !important; align-items: center; align-text:center;">
                <label for="age"><h6>Date of Birth:</h6> </label>
                <input type="date" id ="age"  name="age" class="form-control" placeholder="Enter your age" required />
      </div>

      <div class="form-group" style="display: flex !important; align-items: center; align-text:center;" >
                <label for="computing_id"><h6>Computing ID:</h6></label>
                <input type="text" id="computing_id" name="computing_id" class="form-control" placeholder="Enter your computing ID" required/>
      </div>
      <div class="form-group" style="display: flex !important; align-items: center; align-text:center;" >
        <label for="major"><h6>Major:</h6></label>
        <select name="major" class="form-control">
          {% for dept in uva_departments %}
          <option value ="{{dept}}" >{{dept}}</option>
          {% endfor %}

        </select>
      </div>

      <div class="form-group" style="display: flex !important; align-items: center; align-text:center;" >
        <label for="current_year"><h6>Current Year:</h6></label>
        <select name="current_year" class="form-control">
          <option value ="1" >1</option>
          <option value ="2" >2</option>
          <option value ="3" >3</option>
          <option value ="4" >4</option>
          <option value ="Graduate" >Graduate</option>
        </select>
      </div>

      <input type="submit" value="Submit Registration" class="btn btn-secondary"/>


    </form>
  </div>


</body>
</html>
